$header: 67px;
$footer: 70px;

.cart-section {
    display: flex;
    flex: 1;
    min-height: calc(100vh - #{$header} - #{$footer});
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "main main sd";
        grid-gap: 40px;
        align-items: start;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__left {
        grid-area: main;
    }

    &__right {
        grid-area: sd;
        position: sticky;
        top: 90px;
        border-radius: 10px;
        background-color: rgba(249, 204, 211, 0.5);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px 10px 0 0;
        background-color: #F9CCD3;
    }

    &__title {
        margin: 0;
        font-size: 24px;
    }

    &__clear-btn {
        cursor: pointer;
    }

    &__clear-btn::after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: #4d4d4d;
        opacity: 0;
        transition: opacity .1s linear;
        
    }

    &__clear-btn:hover::after {
        opacity: 1;
    }

    &__total {
        padding: 20px;
    }

    &__pay-btn {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 10px 25px;
        font-size: 18px;
        color: #fff;
        background-color: rgba(170, 25, 69, 0.9);
        border-radius: 30px;
        transition: background-color 0.1s linear;
        cursor: pointer;
    }

    &__pay-btn:hover {
        background-color: #9f1c43;
    }

    &__pay-btn:hover .arrow-icon {
        margin-left: 10px;
    }
}

.total__text {
    min-width: 200px;
}

.arrow-icon {
    margin-left: 5px;
    transition: margin-left 0.3s ease;
}

@media screen and (max-width: 992px) {
    .cart-section {
        padding: 0;

        &__container {
            grid-template-columns: 1fr;
            grid-template-areas:
                "main"
                "main"
                "main"
                "sd";
        }

        &__left {
            width: 100%;
            margin: 0;
        }

        &__right {
            position: static;
            width: 100%;
        }

        &__header {
            border-radius: 0;
        }
    }
}