@use "../Variables";

.contacts {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - #{Variables.$header} - #{Variables.$footer});
    width: 100%;
    padding: 20px 40px 40px 40px;
    background-color: Variables.$secondary;
    background-color: Variables.$secondary_ver2;

    &__container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__title {
        margin: 0 0 20px 0;
        font-size: 40px;
        font-weight: 500;
        color: #3b3b3b;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr) minmax(200px, 1fr));
        grid-gap: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__phone-part {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
    }

    &__phone {
        display: flex;
        margin-right: 15px;
    }

    &__email {
        display: flex;
    }

    &__phone, &__email {
        > .item__title {
            margin: 0 5px 0 0;
        }

        > .item__property {
            margin: 0;
        }
    }

    &__item {
        margin: 0 0 20px 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);

        &:last-child {
            margin: 0;
        }
    }
}

.item {
    &__title {
        margin-bottom: 5px;
        font-size: 16px;
        color: #b1b1b1;
    }

    &__property {
        margin-bottom: 15px;
        font-size: 16px;

        &.address {
            font-size: 18px;
            font-weight: 500;
        }

        &.link {
            display: inline-block;
            font-weight: 500;
            color: #4b4b4b;

            &:hover {
                color: Variables.$accent;
            }
        }
    }
}