.ice-cream {
    width: 100%;
    padding: 40px 0;
    background-color: rgba(183, 210, 247, 0.54);

    &__container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__title {
        margin: 20px 0;
        font-size: 24px;
    }
}

.filters {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}