.popular {
    width: 100%;
    padding: 40px 0;
}

.popular__title {
    margin: 20px 0 40px;
    font-size: 24px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}