.popular {
    width: 100%;
    padding: 40px 40px;
    background-color: rgba(255, 255, 255, 0.9);

    &__container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__title {
        margin: 20px 0 40px;
        font-size: 24px;
        text-align: center;
    }
}

.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// slider

.slick-slide {
    width: 300px !important;
    height: 440px;
    margin: 0 40px;
}

.slick-track {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    width: 100%;

    li {
        margin: 0 10px;
    }

    button {
        display: flex !important;
        justify-content: center;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 -50px;
    z-index: 10;
    cursor: pointer;

    &.slick-prev {
        left: 0;
    }

    &.slick-next {
        right: 0;
    }
}