.card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);

    &__container {
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &.cart-view {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }

    &__main {
        &.cart-view {
            display: flex;
        }
    }

    &__img-wrapper {
        width: 200px;
        height: 200px;
        margin: 20px auto;

        &.cart-view {
            display: flex;
            align-items: center;
            width: 150px;
            height: 150px;
            margin: 10px;
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text {
        min-height: 85px;
        margin: 0 0 20px 0;

        &.cart-view {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
    }

    &__description {
        font-size: 16px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.cart-view {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__price {
        min-width: 50px;
        font-size: 18px;
        font-weight: 600;
    }

    &__submit {
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #AA1945;
        border-radius: 30px;
        box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &.cart-view {
            display: none;
        }
    }

    // cart styles

    &.cart-view {
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
        border: 1px solid #F9CCD3;
        border-top: none;
        border-radius: 0;
        box-shadow: none;
    }

    &.cart-view:last-child {
        border-radius: 0 0 10px 10px;
    }

    &__counter {
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding: 15px;
    }
}

.counter {
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100px;
        border: 1px solid rgba(170, 25, 69, 0.7);
        border-radius: 8px;
    }

    &__minus, &__plus {
        padding: 10px;
        color: rgba(170, 25, 69, 0.7);
        cursor: pointer;
        user-select: none;
    }

    &__number {
        padding: 10px;
    }
}

@media screen and (max-width: 992px) {
    .card {
        &.cart-view {
            border-left: none;
            border-right: none;
        }

        &.cart-view:last-child {
            border-radius: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .card {
        &__container {
            &.cart-view {
                flex-direction: column;
            }
        }
        
        &__footer {
            flex-direction: row-reverse;

            &.cart-view {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 0;
            }
        }
    }
}