.card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 30px;
    // border: 1px solid rgb(249, 182, 197);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);

    &__img-wrapper {
        width: 200px;
        height: 200px;
        margin: 20px auto;

        &.cart-view {
            width: 150px;
            height: 150px;
            margin: 20px 20px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        background-image: url("../img/promo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
    }

    &__description {
        margin-bottom: 20px;
        font-size: 16px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.cart-view {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__price {
        font-size: 18px;
    }

    &__submit {
        padding: 10px 20px;
        font-size: 18px;
        background-color: pink;
        border-radius: 30px;
        box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &.cart-view {
            display: none;
        }
    }

    // cart styles

    &.cart-view {
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }

    &__counter {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 15px;
    }
}

.container {
    &.cart-view {
        display: flex;
        width: 100%;
    }
}

.counter {
    &__container {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    &__minus, &__plus {
        padding: 10px;
        cursor: pointer;
    }

    &__number {
        padding: 10px;
    }
}