.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.card__container.cart-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.card__main.cart-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__img-wrapper {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.card__img-wrapper.cart-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.card__img {
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__text {
  min-height: 85px;
  margin: 0 0 20px 0;
}

.card__text.cart-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.card__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.card__description {
  font-size: 16px;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__footer.cart-view {
  margin-left: auto;
  margin-right: 0;
}

.card__price {
  min-width: 50px;
  font-size: 18px;
  font-weight: 600;
}

.card__submit {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #AA1945;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__submit.cart-view {
  display: none;
}

.card.cart-view {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  border: 1px solid #F9CCD3;
  border-top: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card.cart-view:last-child {
  border-radius: 0 0 10px 10px;
}

.card__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  padding: 15px;
}

.counter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  border: 1px solid rgba(170, 25, 69, 0.7);
  border-radius: 8px;
}

.counter__minus, .counter__plus {
  padding: 10px;
  color: rgba(170, 25, 69, 0.7);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.counter__number {
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .card.cart-view {
    border-left: none;
    border-right: none;
  }
  .card.cart-view:last-child {
    border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .card__container.cart-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .card__footer.cart-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=ProductCard.css.map */