.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
}
.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card__container.cart-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card__main.cart-view {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card__img-wrapper {
  display: inline-block;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.card__img-wrapper.cart-view {
  width: 150px;
  min-width: 150px;
  height: 150px;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s;
}
.card__img.cart-view {
  min-width: 100%;
  border-radius: 0;
}
.card__img:hover {
  transform: scale(1.1);
}
.card__img:hover.cart-view {
  transform: none;
}
.card__text {
  margin: 30px;
}
.card__text.cart-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 20px;
}
.card__title {
  font-size: 20px;
  font-weight: 600;
}
.card__description {
  margin-top: 10px;
  font-size: 16px;
}
.card__description.cart-view {
  display: none;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 30px 30px;
}
.card__footer.cart-view {
  margin-left: auto;
  margin-right: 0;
}
.card__price {
  min-width: 50px;
  font-size: 18px;
  font-weight: 600;
}
.card__submit {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #AA1945;
  border-radius: 30px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card__submit.cart-view {
  display: none;
}
.card.cart-view {
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid #FBE5C8;
  border-top: none;
  border-radius: 0;
  box-shadow: none;
}
.card.cart-view:last-child {
  border-radius: 0 0 10px 10px;
}
.card__counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 15px;
}

.counter__container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  border: 1px solid rgba(170, 25, 69, 0.7);
  border-radius: 8px;
}
.counter__minus, .counter__plus {
  padding: 10px;
  color: rgba(170, 25, 69, 0.7);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.counter__number {
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .card.cart-view {
    border-left: none;
    border-right: none;
  }
  .card.cart-view:last-child {
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .card__container.cart-view {
    flex-direction: column;
  }
  .card__footer {
    flex-direction: row-reverse;
  }
  .card__footer.cart-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=ProductCard.css.map */