$header: 60px;
$footer: 70px;

$primary: #fff;
$secondary: #FBE5C8;
$secondary_opacity_08: rgba(251, 229, 200, 0.8);
$secondary_opacity_05: rgba(251, 229, 200, 0.5);
$secondary_opacity_02: rgba(251, 229, 200, 0.2);
$accent: #AA1945;