$header: 60px;
$footer: 170px;

$primary: #fff;
$secondary: #FBE5C8;
$secondary_opacity_08: rgba(251, 229, 200, 0.8);
$secondary_opacity_05: rgba(251, 229, 200, 0.5);
$secondary_opacity_03: rgba(251, 229, 200, 0.3);
$secondary_opacity_02: rgba(251, 229, 200, 0.2);
$secondary_ver2: #fff3ec;
$accent: #AA1945;
$accent_opacity_08: rgba(170, 25, 69, 0.8);
$accent_opacity_05: rgba(170, 25, 69, 0.5);
$accent_darker: #9f1c43;

$text_color: #4d4d4d;